* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}
.nav-bar {
    width: 100%;
    height: 60px;
    background-color: #2874f0;
    display: flex;
    position: sticky;
    top: 0;
}
.nav-logo {
    width: 25%;
    height: 100%;
}
.nav-bar a .img1 {
    display: block;
    height: 22px;
    width: 80px;
    margin-top: 12px;
    margin-left: 53%;
}
.nav-bar .link{
    position: absolute;
    color: white;
    top: 32px;
    left: 180px;
    text-decoration: none;
    font-style: italic;
    font-size: 11px;
    font-weight: 700;
}
.nav-bar a span{
    color: #ffe11b;
}
.nav-input {
    width: 50%;
    height: 100%;
    display: flex;
}
.inp {
    width: 500px;
    height: 35px;
    margin-top: 10px;
    background-color: aqua;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.inp input {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-size: 16px;
}
input::placeholder {
    font-size: 14px;
}
.inp i {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.nav-btn button {
    height: 35px;
    width: 140px;
    background-color: white;
    color: #2874f0;
    font-size: 17px;
    font-weight: 600;
    border: none;
    outline: none;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.nav-item {
    width: 25%;
    height: 100%;
    margin-top: 19px;
}
.nav-item a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-size: 15px;
    font-weight: bold;
}
.align{
    right: 87px;
    font-size: 17px;
    top: 19px;
    padding-right: 20px;
}
.align1{
    right: 127px;
    font-size: 17px;
    top: 20px;
}
.nav-item .bc{
    padding-left: 10px;
}
.new-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.new-bar a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 550;
}
.new-bar a:hover {
    color: #2874f0;
}
.main-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 97%;
    min-height: 500px;
    display: flex;
}
.main-left {
    width: 38%;
    height: 535px;
    border: 1px solid rgb(210, 210, 210);
    margin-top: 15px;
    position: sticky;
    top: 70px;
}
.product {
    width: 100%;
    height: 90%;
    display: flex;   
}
.pro-left {
    width: 20%;
    height: 100%;
    border: 1px solid rgb(210, 210, 210);
}
.box-img{
    width: 77%;
    height: 17%;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box-img:first-child{
    border: 3px solid #2874f0;
}
.box-img img{
    width: 60px;
    height: 66px;
}
.pro-right {
    width: 80%;
    height: 90%;
    position: relative;
}
i{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 23px;
}
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img img{
    padding-top: 33px;
    cursor: pointer;
}
.pro-btn{
    width: 100%;
    height: 10%;  
}
.btn-left{
    padding: 17px 150px;
    margin-left: 101px;
    background-color: #fb641b;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.main-right{
    width: 62%;
    height: 100%;
    margin-top: 15px;
}
.para-1{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.para-1 p{
    padding: 3px 20px;
    color: #878787;
    font-size: 13px;
}
.para-1 p:hover{
        color: #2874f0;
    cursor: pointer;
}
.check{
    color: #878787;
    font-size: 16px;
}
.para-2{
    width: 100%;
    height: 55px;
}
.para-2 h2{
    padding-left: 20px;
    font-weight: 100;
    font-size: 20px;
}
.star{
    margin-left: 20px;
}
.star .rating{
    background-color: #388e3c;
    color: white;
    font-weight: 550;
    font-size: 15px;
    padding: 4px 6px;
    border-radius: 7px;
    margin-right: 5px;
}
.rating span{
    font-size: 14px;
}
.review{
    color: #878787;
    font-weight: 550;
    font-size: 15px;
}
span img{
    width: 80px;
    height: 25px;
    cursor: pointer;
}
.price{
    margin-left: 20px;
    width: 100%;
    height: 85px;
}
.price h1{
    font-weight: 100;
    padding-top: 15px;
}
.price p{
    font-size: 15px;
    padding-top: 5px;
}
.sts{
    width: 100%;
    height: 80px;
}
.sts h1{
    font-weight: bold;
    padding: 10px 0px 8px 20px;
}
.sts P{
    font-size: 20px;
    color: #878787;
    padding: 0px 0px 5px 20px;
}
.line-one{
    width: 100%;
    height: 60px;
    display: flex;
}
.apple{
    width: 90px;
    height: 40px;
    border: 1px solid rgb(210, 182, 210);
    margin-left: 22px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apple img{
    width: 30px;
    height: 33px;
}
.line-one p{
    font-size: 15px;
    padding: 20px 10px 10px 30px;
}
.line-one a{
    font-size: 14px;
    font-weight: 600;
    color: #2874f0;
    text-decoration: none;
    padding-top: 20px;
}
.spec{
    width: 100%;
    min-height: 150px;
    display: flex;
}
.high ,.pay,.sell{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 22px;
    padding-top: 7px;
    margin-bottom: 10px;
}
.high-l,.pay-l,.sell-l,.des-l{
    width: 35%;
    height: 100%;
    font-size: 16px;
    padding: 7px 0px 0px 1px;
    color: #878787;
}
ul li{
    line-height: 25px;
}
.pay-r a{
    color: #2874f0;
    font-size: 15px;
    text-decoration: none;
}
.sell-r a{
    color: #2874f0;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;   
    margin-bottom: 10px;
}
.super-img{
    width: 100%;
    height: 150px;
}
.sup-coins{
    width: 35%;
    height: 100%;
    margin: 0px 10px 20px 22px;
}
.sup-coins img{
    width: 100%;
    height: 100%;
}
.description{
    width: 100%;
    min-height :100px;
    display: flex;
    padding-left: 22px;
    padding-top: 7px;
    margin-bottom: 10px;
}
.des-r{
    padding: 5px 10px 10px 20px;
    font-size: 16px;
    line-height: 1.3;
}